ENABLE_REAL_PIPELINE=true
MODEL_ADAPTER=auto

OPENCV_INK_STRENGTH=0.92
OPENCV_WASH_STRENGTH=0.86
OPENCV_PAPER_STRENGTH=0.18
OPENCV_WHITE_SPACE=0.26
OPENCV_DETAIL_LEVELS=8
OPENCV_TEXTURE_STRENGTH=0.22
OPENCV_DETAIL_PRESERVE=0.20
OPENCV_FINE_LINE_STRENGTH=0.34
OPENCV_OUTLINE_STRENGTH=0.48

OPENCV_MINHWA_PALETTE_STRENGTH=0.84
OPENCV_MINHWA_OUTLINE_STRENGTH=0.88
OPENCV_MINHWA_LINE_THICKNESS=1
OPENCV_MINHWA_FLATTEN_STRENGTH=0.66
OPENCV_MINHWA_SMOOTHING_STRENGTH=0.30
OPENCV_MINHWA_PAPER_STRENGTH=0.28
OPENCV_MINHWA_PIGMENT_BLEED=0.00
OPENCV_MINHWA_HAND_DRAWN_STRENGTH=0.03
OPENCV_MINHWA_PAINT_VARIATION=0.015
OPENCV_MINHWA_AGE_STRENGTH=0.58
OPENCV_MINHWA_PRESERVE_BRIGHTNESS=0.22
OPENCV_MINHWA_COLOR_FADE=0.16
OPENCV_MINHWA_COLOR_BOOST=0.62
OPENCV_MINHWA_INK_TONE_STRENGTH=0.84
OPENCV_MINHWA_SHARPNESS=0.52
OPENCV_MINHWA_TEMPORAL_BLEND=0.00
